/* Estilo general de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* Cuadro del quiz (antes de responder) */
.quiz-container {
    background-color: #4CAF50;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5em;
    color: black;
    margin-bottom: 20px;
}

#mensaje {
    font-size: 1.2em;
    color: black;
    margin-bottom: 20px;
}

.buttons button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    color: #4CAF50;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #45a049;
}

.buttons button:active {
    background-color: #388e3c;
}

/* Cuadro de respuesta */
.response-container {
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

#respuesta {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#imagen-respuesta img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

/* Respuesta cuando es "Sí" */
.response-container-yes {
    background-color: #007BFF; /* Azul */
    color: white;
}

/* Respuesta cuando es "No" */
.response-container-no {
    background-color: #000000; /* Negro */
    color: white;
}

/* Cuadro de San Valentín */
.san-valentin-container {
    background-color: #ff69b4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.san-valentin-container p {
    font-size: 1.2em;
    color: white;
    margin-top: 10px;
}
