body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.question-box {
    background-color: green;
    color: black;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
    margin-bottom: 30px;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.response-container, .san-valentine-container {
    display: block;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
}

.response-container-yes {
    background-color: #87CEEB;
}

.response-container-no {
    background-color: #333;
    color: white;
}

.san-valentine-container {
    background-color: #FFB6C1;
}
